{
    email {$ACME_EMAIL}
}

aniway.space {
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Referrer-Policy "no-referrer-when-downgrade"
        X-Content-Type-Options "nosniff"
    }

    handle_path /.well-known/acme-challenge/* {
        root * /srv/verifications
        file_server
    }

    reverse_proxy aniway-frontend:80
}

http://aniway.space {
    handle_path /.well-known/acme-challenge/* {
        root * /srv/verifications
        file_server
    }

    redir https://aniway.space{uri}
}
