spring:
  application:
    name: notification-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5437/notification_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  rabbitmq:
    host: ${RABBITMQ_HOST:rabbitmq}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:aniway}
    password: ${RABBITMQ_PASSWORD:aniway_pass}
    connection-timeout: 5000
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8095

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: when-authorized
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
      percentiles:
        http:
          server:
            requests:
              - 0.5
              - 0.9
              - 0.95
              - 0.99

logging:
  level:
    root: INFO
    shadowshift.studio.notificationservice: DEBUG

notifications:
  friend:
    exchange: ${FRIEND_NOTIFICATIONS_EXCHANGE:notifications.friend.exchange}
    routing-key: ${FRIEND_NOTIFICATIONS_ROUTING_KEY:notifications.friend.event}
    queue: ${FRIEND_NOTIFICATIONS_QUEUE:notifications.friend.events}
