apiVersion: 1
contactPoints:
  - orgId: 1
    name: email-default
    receivers:
      - uid: cp-email-default
        type: email
        disableResolveMessage: false
        settings:
          addresses: "{{ env \"ALERTMANAGER_EMAIL_TO\" }}"
          singleEmail: false
  - orgId: 1
    name: telegram-critical
    receivers:
      - uid: cp-telegram-critical
        type: telegram
        disableResolveMessage: false
        settings:
          bottoken: "{{ env \"ALERTMANAGER_TELEGRAM_BOT_TOKEN\" }}"
          chatid: "{{ env \"ALERTMANAGER_TELEGRAM_CHAT_ID\" }}"
