apiVersion: 1
contactPoints:
  - uid: cp-alertmanager-forward-v2
    orgId: 1
    name: alertmanager-forward-v2
    receivers:
      - uid: cp-alertmanager-forward-rec-v2
        type: webhook
        disableResolveMessage: false
        settings:
          url: http://alertmanager:9093/api/v2/alerts
          httpMethod: POST
          maxIdleConns: 100
          sendFixedBody: true
          httpHeaderName1: Content-Type
          httpHeaderValue1: application/json
          body: |
            [
            {{- range $index, $alert := .Alerts }}
              {{- if gt $index 0 }},{{ end }}
              {
                "status": {{ toJSON $alert.Status }},
                "labels": {{ toJSON $alert.Labels }},
                "annotations": {{ if $alert.Annotations }}{{ toJSON $alert.Annotations }}{{ else }}{}{{ end }}
                {{- if $alert.StartsAt }},
                "startsAt": {{ toJSON $alert.StartsAt }}{{- end }}
                {{- if $alert.EndsAt }},
                "endsAt": {{ toJSON $alert.EndsAt }}{{- end }}
                {{- if $alert.GeneratorURL }},
                "generatorURL": {{ toJSON $alert.GeneratorURL }}{{- end }}
                {{- if $alert.Fingerprint }},
                "fingerprint": {{ toJSON $alert.Fingerprint }}{{- end }}
              }
            {{- end }}
            ]
