apiVersion: 1
contactPoints:
  - orgId: 1
    name: alertmanager-forward
    receivers:
      - uid: cp-alertmanager-forward
        type: prometheusAlertmanager
        disableResolveMessage: false
        settings:
          url: http://alertmanager:9093
          httpMethod: POST
          basicAuthUser: ""
          basicAuthPassword: ""
          timeout: 10s
