apiVersion: 1
contactPoints:
  - uid: cp-alertmanager-forward-v2
    orgId: 1
    name: alertmanager-forward-v2
    receivers:
      - uid: cp-alertmanager-forward-rec-v2
        type: webhook
        disableResolveMessage: false
        settings:
          url: http://alertmanager:9093/alertmanager/api/v2/alerts
          httpMethod: POST
          maxIdleConns: 100
          sendFixedBody: true
          httpHeaderName1: Content-Type
          httpHeaderValue1: application/json
          body: |
            [
            {{- range $index, $alert := .Alerts }}
              {{- if gt $index 0 }},{{ end }}
              {
                "status": {{ if $alert.Status }}{{ toJSON $alert.Status }}{{ else }}"firing"{{ end }},
                "labels": {{ if $alert.Labels }}{{ toJSON $alert.Labels }}{{ else }}{}{{ end }},
                "annotations": {{ if $alert.Annotations }}{{ toJSON $alert.Annotations }}{{ else }}{}{{ end }},
                "startsAt": {{ if $alert.StartsAt }}{{ toJSON $alert.StartsAt }}{{ else }}{{ toJSON (now) }}{{ end }},
                "endsAt": {{ if $alert.EndsAt }}{{ toJSON $alert.EndsAt }}{{ else }}"0001-01-01T00:00:00Z"{{ end }},
                "generatorURL": {{ if $alert.GeneratorURL }}{{ toJSON $alert.GeneratorURL }}{{ else }}""{{ end }}
              }
            {{- end }}
            ]
