apiVersion: 1
contactPoints:
  - uid: cp-alertmanager-forward-v2
    orgId: 1
    name: alertmanager-forward-v2
    receivers:
      - uid: cp-alertmanager-forward-rec-v2
        type: prometheus-alertmanager
        disableResolveMessage: false
        settings:
          url: http://aniway-alertmanager:9093
          basicAuthUser: ""
          basicAuthPassword: ""
