apiVersion: 1
contactPoints:
  - uid: cp-alertmanager-forward-v2
    orgId: 1
    name: alertmanager-forward-v2
    receivers:
      - uid: cp-alertmanager-forward-rec-v2
        type: webhook
        disableResolveMessage: false
        settings:
          # Forward alerts directly to Alertmanager's v2 alerts endpoint using the
          # service DNS name available inside the monitoring network.
          url: http://alertmanager:9093/api/v2/alerts
          httpMethod: POST
          maxIdleConns: 100
          sendFixedBody: true
          httpHeaderName1: Content-Type
          httpHeaderValue1: application/json
          body: '{{ toJSON .Alerts }}'
