apiVersion: 1
contactPoints:
  - uid: cp-alertmanager-forward-v2
    orgId: 1
    name: alertmanager-forward-v2
    receivers:
      - uid: cp-alertmanager-forward-rec-v2
        type: webhook
        disableResolveMessage: false
        settings:
          url: http://alertmanager:9093/alertmanager/api/v2/alerts
          httpMethod: POST
          maxIdleConns: 100
          sendFixedBody: true
          httpHeaderName1: Content-Type
          httpHeaderValue1: application/json
          body: |
            [
            {{- range $index, $alert := .Alerts }}
              {{- if gt $index 0 }},{{ end }}
              {{- $labels := dict }}
              {{- if $alert.Labels }}
                {{- range $key, $value := $alert.Labels }}
                  {{- $_ := set $labels $key $value }}
                {{- end }}
              {{- end }}
              {{- $alertname := coalesce (and $alert.Labels (index $alert.Labels "alertname")) $.RuleTitle $.RuleName $.RuleUID "grafana-alert" -}}
              {{- if not (hasKey $labels "alertname") }}
                {{- $_ := set $labels "alertname" $alertname }}
              {{- end }}
              {{- $annotations := dict }}
              {{- if $alert.Annotations }}
                {{- range $akey, $aval := $alert.Annotations }}
                  {{- $_ := set $annotations $akey $aval }}
                {{- end }}
              {{- end }}
              {{- $startsAt := $alert.StartsAt -}}
              {{- if not $startsAt }}
                {{- $startsAt = (now | date "2006-01-02T15:04:05Z07:00") -}}
              {{- end }}
              {{- $endsAt := $alert.EndsAt -}}
              {{- if not $endsAt }}
                {{- $endsAt = "0001-01-01T00:00:00Z" -}}
              {{- end }}
              {{- $generatorURL := ($alert.GeneratorURL | default "") -}}
              {
                "labels": {{ toJSON $labels }},
                "annotations": {{ toJSON $annotations }},
                "startsAt": {{ toJSON $startsAt }},
                "endsAt": {{ toJSON $endsAt }},
                "generatorURL": {{ toJSON $generatorURL }}
              }
            {{- end }}
            ]
