apiVersion: 1
contactPoints:
  - uid: cp-alertmanager-forward-v2
    orgId: 1
    name: alertmanager-forward-v2
    receivers:
      - uid: cp-alertmanager-forward-rec-v2
        type: webhook
        disableResolveMessage: false
        settings:
          url: http://alertmanager:9093/api/v1/alerts
          httpMethod: POST
          maxIdleConns: 100
          sendFixedBody: true
          httpHeaderName1: Content-Type
          httpHeaderValue1: application/json
          body: |
            {
              "alerts": [
              {{- range $index, $alert := .Alerts }}
                {{- if gt $index 0 }},{{ end }}
                {
                  "labels": {{ toJSON $alert.Labels }},
                  "annotations": {{ toJSON $alert.Annotations }},
                  "startsAt": {{ toJSON $alert.StartsAt }},
                  "endsAt": {{ toJSON $alert.EndsAt }},
                  "generatorURL": {{ toJSON $alert.GeneratorURL }}
                }
              {{- end }}
              ]
            }
