apiVersion: 1
contactPoints:
  - uid: cp-alertmanager-forward
    orgId: 1
    name: alertmanager-forward
    receivers:
      - uid: cp-alertmanager-forward-rec
        type: webhook
        disableResolveMessage: false
        settings:
          url: http://alertmanager:9093/api/v2/alerts
          httpMethod: POST
          maxIdleConns: 100
          sendFixedBody: true
