apiVersion: 1
contactPoints:
  - uid: cp-alertmanager-forward-v2
    orgId: 1
    name: alertmanager-forward-v2
    receivers:
      - uid: cp-alertmanager-forward-rec-v2
        type: webhook
        disableResolveMessage: false
        settings:
          url: http://alertmanager:9093/alertmanager/api/v2/alerts
          httpMethod: POST
          maxIdleConns: 100
          sendFixedBody: true
          httpHeaderName1: Content-Type
          httpHeaderValue1: application/json
          body: |
            [
            {{- range $index, $alert := .Alerts }}
              {{- if gt $index 0 }},{{ end }}
              {{- $labels := dict }}
              {{- if $alert.Labels }}{{- $labels = merge $labels $alert.Labels }}{{- end }}
              {{- $alertname := "" -}}
              {{- if and $alert.Labels (hasKey $alert.Labels "alertname") }}
                {{- $alertname = index $alert.Labels "alertname" -}}
              {{- else if $.RuleTitle }}
                {{- $alertname = $.RuleTitle -}}
              {{- else if $.RuleName }}
                {{- $alertname = $.RuleName -}}
              {{- else if $.RuleUID }}
                {{- $alertname = $.RuleUID -}}
              {{- else }}
                {{- $alertname = "grafana-alert" -}}
              {{- end }}
              {{- if not (hasKey $labels "alertname") }}
                {{- $labels = merge $labels (dict "alertname" $alertname) }}
              {{- end }}
              {{- $startsAt := "" -}}
              {{- if $alert.StartsAt }}
                {{- $startsAt = $alert.StartsAt -}}
              {{- else }}
                {{- $startsAt = (now | date "2006-01-02T15:04:05Z07:00") -}}
              {{- end }}
              {{- $endsAt := "" -}}
              {{- if $alert.EndsAt }}
                {{- $endsAt = $alert.EndsAt -}}
              {{- else }}
                {{- $endsAt = "0001-01-01T00:00:00Z" -}}
              {{- end }}
              {
                "status": {{ toJSON (default "firing" $alert.Status) }},
                "labels": {{ toJSON $labels }},
                "annotations": {{ if $alert.Annotations }}{{ toJSON $alert.Annotations }}{{ else }}{}{{ end }},
                "startsAt": {{ toJSON $startsAt }},
                "endsAt": {{ toJSON $endsAt }},
                "generatorURL": {{ toJSON (default "" $alert.GeneratorURL) }}
              }
            {{- end }}
            ]
