apiVersion: 1
contactPoints:
  - uid: cp-alertmanager-forward
    orgId: 1
    name: alertmanager-forward
    receivers:
      - uid: cp-alertmanager-forward-rec
        type: webhook
        disableResolveMessage: false
        settings:
          url: http://alertmanager:9093/alertmanager/api/v2/alerts
          httpMethod: POST
          maxIdleConns: 100
          sendFixedBody: true
          httpHeaderName1: Content-Type
          httpHeaderValue1: application/json
          body: |
            [
            {{- range $i, $a := .Alerts }}
              {{- if gt $i 0 }},{{ end }}
              {
                "status": "{{ $a.Status }}",
                "labels": {{ toJSON $a.Labels }},
                "annotations": {{ toJSON $a.Annotations }},
                "startsAt": "{{ $a.StartsAt }}",
                "endsAt": "{{ $a.EndsAt }}",
                "generatorURL": "{{ $a.GeneratorURL }}",
                "fingerprint": "{{ $a.Fingerprint }}",
                "silenceURL": "{{ $a.SilenceURL }}",
                "dashboardURL": "{{ $a.DashboardURL }}",
                "panelURL": "{{ $a.PanelURL }}"
              }
            {{- end }}
            ]
